SA_PASSWORD=ChangeMe_StrongPassword123!
JWT_SECRET_KEY=ChangeMe_AtLeast_32_Characters_Long
JWT_ISSUER=NexInvoice
JWT_AUDIENCE=NexInvoiceUsers
REDIS_ENABLED=false
FRONTEND_URL=http://36.50.135.4
VITE_API_BASE_URL=/api/v1
SWAGGER_ENABLED=false
SEED_DEMO_USERS=false
SEED_FAKE_DATA=false
